*{
	margin: 0;
	padding: 0;
}
body{
	font-family: calibri;
	background: #121212;
	color: #E0E0E0;
	font-family: 'poppins';
}


.navbar{
	display: flex;
	background: linear-gradient(90deg, #D4AF37, #B8860B);
	color: #000;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

}
.navbar ul{
	width: 100%;
	list-style: none;
	font-size: 1.5rem;
	display: flex;
	justify-content: flex-end;
	gap: 50px;
	padding-right: 20px;
	padding-top: 16px;
	padding-bottom: 16px;

}
.navbar l1{
	height: 50px;
	padding: 0 30px;
	color: black;
	display: flex;
	gap: 20px;

}
.navbar li:first-child:hover{
	text-decoration: none;
	transform: scale(1.0);
	transition: none;
}
.navbar li:hover{
	text-decoration: none;
	transform: scale(1.18);
	transition: 200ms ease-in-out all;
	background: transparent;
	border: none;
	cursor: pointer;
}
.navbar li:first-child{
	margin-right: auto;
	padding-left: 8px;
}

.sidebar{
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
	width: 70%;
	max-width: 800px;
	z-index: 999;
	background: rgba(15,15, 15, 0.97);
	backdrop-filter: blur(12px);
	box-shadow: 4px 0 15px rgba(0, 0, 0, 0.4);
	display: flex;	
	transition: 0.4s ease-in-out;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 40px;
	font-size: 1.6rem;
	font-weight: 700;
	display: none;
	
}
.sidebar img{
	height: 5vh;
	object-fit: cover;
}
.sidebar li:hover{
	transform: scale(1.3);
}
.sidebar button:hover{
	transform: scale(1.3);
}
.sidebar a{
	text-decoration: none;
	color: #fff;
	font-family: 'poppins';
	font-weight: 500;
	letter-spacing: 0.5px;
	transition: 0.3s ease;
	padding: 0.6rem 1rem;
	border-radius: 8px;
	display: inline-block;
	}
.sidebar li{
	width: 100%;
	list-style: none;

}
.sidebar ul li a:hover{
	background: linear-gradient(90deg, #d4af37, #ffcc00);
	color: #111;
	font-weight: 600;
	box-shadow: 0 2px 10px rgba(255, 204, 0, 0.3);
}
.sidebar ul{
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	list-style: none;
}
.sidebar button{
	border: 0;
	transition: 0.3s ease;
	padding: 0.6rem 1rem;
	border-radius: 8px;
	display: inline-block;
	font-size: 1.8rem;
	color: #ffcc00;
	background: transparent;
	cursor: pointer;
	display: block;
	text-align: left;
}
.sidebar .active{
	background: #ffcc00;
	width: 100%;
}section button:hover{
	transform: scale(1);
}
button:hover{
	transform: scale(1.3);
}


main{
	height: 90vh;
	object-fit: cover;
}
main img{
	position: relative;
	inset: 0 0 0 0;
	object-fit: cover;
	height: 100%;
	width: 100%;
}
footer{
	padding: 30px;
	display: flex;
	justify-content: space-between;
	background: linear-gradient(90deg, #D4AF37, #B8860B);
	color: #000;
	padding: 20px;
	text-align: center;
	border-top: 2px solid #ffd700;
}
footer .texts{
	display: flex;
	flex-direction: column;
	gap: 16px;

}
footer .texts{
	font-size: 25px;
}
footer .texts a{
	text-decoration: none;
	color: initial;
	cursor: pointer;
	margin: 0 10px;
	font-weight: 500;


}
.texts a:hover{
	text-decoration: underline;
	text-decoration-thickness: 5px;
	text-underline-offset: 10px;
	cursor: pointer;

}
footer .socials{
	display: flex;
	flex-direction: row;
	gap: 14px;
	justify-content: flex-end;
}
footer .socials img:hover{
	transform: scale(1.2);
	color: #fff;
}
footer .socials img{
	height: 4vh;
	margin: 10px;
	cursor: pointer;
	color: #fff;
}

.highs{
	text-align: center;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 1rem;
}