*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'poppins';
}
.sidebar{
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
	width: 70%;
	max-width: 800px;
	z-index: 999;
	background: rgba(15,15, 15, 0.97);
	backdrop-filter: blur(12px);
	box-shadow: 4px 0 15px rgba(0, 0, 0, 0.4);
	display: flex;	
	transition: 0.4s ease-in-out;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 40px;
	font-size: 1.6rem;
	font-weight: 700;
	display: none;
	
}
.sidebar img{
	height: 5vh;
	object-fit: cover;
}
.sidebar li:hover{
	transform: scale(1.3);
}
.sidebar button:hover{
	transform: scale(1.3);
}
.sidebar a{
	text-decoration: none;
	color: #fff;
	font-family: 'poppins';
	font-weight: 500;
	letter-spacing: 0.5px;
	transition: 0.3s ease;
	padding: 0.6rem 1rem;
	border-radius: 8px;
	display: inline-block;
	}
.sidebar li{
	width: 100%;
	list-style: none;

}
.sidebar ul li a:hover{
	background: linear-gradient(90deg, #d4af37, #ffcc00);
	color: #111;
	font-weight: 600;
	box-shadow: 0 2px 10px rgba(255, 204, 0, 0.3);
}
.sidebar ul{
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	list-style: none;
}
.sidebar button{
	border: 0;
	transition: 0.3s ease;
	padding: 0.6rem 1rem;
	border-radius: 8px;
	display: inline-block;
	font-size: 1.8rem;
	color: #ffcc00;
	background: transparent;
	cursor: pointer;
	display: block;

	text-align: left;
}
.sidebar .active{
	background: #ffcc00;
	width: 100%;
}section button:hover{
	transform: scale(1);
}
button:hover{
	transform: scale(1.3);
}

.navbar{
	display: flex;
	background: #000;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	letter-spacing: 0.5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

}
.navbar ul{
	width: 100%;
	list-style: none;
	font-size: 1.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	padding-right: 20px;
	padding-top: 16px;
	padding-bottom: 16px;

}
.navbar li{
	padding: 0 30px;
	color: #ffd700;
	display: flex;
	gap: 20px;

}
.navbar li:first-child:hover{
	text-decoration: none;
	transform: scale(1.0);
	transition: none;
}
.navbar li:hover{
	text-decoration: none;
	transform: scale(1.18);
	transition: 200ms ease-in-out all;
	background: transparent;
	border: none;
	cursor: pointer;
}
.navbar li:first-child{
	margin-right: auto;
	align-self: center;
}
main{
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
main img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.slides{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 17px;
	border-radius: 10px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.slides img{
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    scroll-snap-align: start;
    border-radius: 3px;
    object-fit: cover;
    z-index: 999;
}